nav {
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgb(27, 63, 92);
    overflow: auto;
    height: auto;
}

.left-links{
    flex:1 1 200px;
    left: 250%;
}

.nav-link {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}

.nav-link:hover {
    border-bottom: 4px solid rgb(16, 87, 149);
}

h1 {
    font-size: 1.8rem;
}

.title-name {
    font-size: 2.3rem;
}

.title-career {
    font-size: 1.3rem;
}

.center-title{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    color: white;
}

.aboutme {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50%;
}

.center{
    display: block;
}

p {
    font-size: 1.2rem;
}

.skills{
    text-align: center;
}

.skills-python {
    position: absolute;
    left: 653px;
    bottom: -340px;
    color: white;
}

.skills-javascript {
    position: absolute;
    left: 830px;
    bottom: -530px;
    color: white;
}

.skills-figma {
    position: absolute;
    left: 1000px;
    bottom: -340px;
    color: white;
}

.python {
    width: 20%; 
    background-color: rgb(16, 87, 149);
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 540px;
    bottom: -350px;
}

.javascript {
    width: 20%; 
    background-color: rgb(16, 87, 149);
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 730px;
    bottom: -550px;
}

.figma {
    width: 20%;
    background-color: rgb(16, 87, 149);
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 890px;
    bottom: -350px;
}

.pythonWithText{
    width: auto;
    position:absolute;
    height: 2.5em;
    left: 49%;
    bottom: -48%;
}

.javascriptWithText{
    width: auto;
    position:absolute;
    height: 2.5em;
    left: 63%;
    bottom: -80%;
}

.figmaWithText{
    width: auto;
    position:absolute;
    height: 2.5em;
    left: 74%;
    bottom: -48%;
}

.container-bar {
    width: 50%; /* Full width */
    background-color: rgb(150, 46, 46); /* Grey background */
}

.portfolio-heading{
    position: absolute;
    right: 420px;
    bottom: -800px;
}

.skills-heading{
    position: absolute;
    left: 800px;
    bottom: -210px;
}

.contact-heading{
    position: absolute;
    text-align: center;
    left: 665px;
    bottom: -220%;
    color: rgb(255, 255, 255)
}

.a {
    word-wrap: break-word;
    width: 875px;
    text-align: left;
    position: absolute;
    right:130px;
    top:auto; 
}

.img{
    width: auto;
    height: 10em;
    float: right;
}

.b {
    position: absolute;
    right: 800px;
    bottom: -750px;
    text-align: right;
}

.student-planner{
    width: auto;
    height:220px;
    position: absolute;
    bottom: -1500%;
    left: 800%;
}

.c {
    word-wrap: break-word;
    width: 400px;
    position: absolute;
    bottom: -160%;
    left: 60%;
    color: white;
}

.hl {
    border: 4px solid rgb(202, 29, 116);
    bottom: -500%;
    position: relative;
}

.wrapper {
    width: 1660px;
    height: 900px;
    margin: 3;
    padding: 0;
    position: absolute;
    bottom: -900px;
    background-color: white;
}

.imageWithText{
    width: auto;
    height: 1.1em;
    vertical-align: text-bottom;
}

.img{
    width: auto;
    height: 13em;
    float: right;
}